# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IDE files
.vscode/
.idea/

# Virtual environment files
venv/
env/

# PyInstaller Files
build/
dist/

# Database
database/

# Test PDF Files
test_files/

# Database exported file
**.csv

signatures/
credentials.json

manual_db_entry.py

sql connection.py
