# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# IDE files
.vscode/
.idea/

# Virtual environment files
venv/

# PyInstaller Files
build/
dist/
*.spec

# Database
database/

# Test PDF Files
test_files/

# Database exported file
*.csv